<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
</head>
<body>
    <ul id="js-items">
        <li v-if="!items.length">Lista vazia</li>
        <li v-for="item in items" :class=" { 'done':item.estaCompleta}">
            {{ item.descricao }}
        </li>
    </ul>

    <script>
        Vue.createApp({
            data(){
                return{
                    items: []
                }
            },
            created(){
                fetch('./data.json')
                .then(res => res.json())
                .then(data => {
                    this.items = data.items
                })
            }
        }).mount('#js-items')
    </script>
    
    <style>
        .done {
            color: red;
            font-weight: bold;
        }
    </style>
</body>
</html>