<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
</head>
<body>
    <div id="v-model-radiobutton" class="formulario">
        <input type="radio" id="one" value="Torcedor" v-model="picked">
        <label for="um">Um</label>
        <br/>

        <input type="radio" id="two" value="Jogador" v-model="picked">
        <label for="dois">Dois</label>

        <p>Selecionado: {{ picked }} </p>
    </div>

    <script>
        Vue.createApp({
            data() {
                return {
                    picked: ''
                }
            },
        }).mount('#v-model-radiobutton')
    </script>
</body>
</html>